@tailwind base;
@tailwind components;
@tailwind utilities;

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto-1';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
        format('woff2');
}

/* .message-deleted{
   backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(20px) scale(1.1);
    -webkit-transform: translateY(20px) scale(1.1);
    -moz-transform: translateY(20px) scale(1.1);
    -ms-transform: translateY(20px) scale(1.1);
    -o-transform: translateY(20px) scale(1.1);

} */
@keyframes fade-out-downs {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
@keyframes shimmer {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px -0;
    }
  }
  html{
    scrollbar-width: none;
  }
  
  .animate-shimmer {
    animation: shimmer 2s infinite ease;
    background-size: 250% 250%, 100% 100%;
    background-repeat: no-repeat;
    -webkit-animation: shimmer 2s infinite ease;
}
.message-remove{
    animation: fade-out-downs .6s cubic-bezier(0.4, 0, 0.6, 1) once;
    -webkit-animation: fade-out-downs .6s cubic-bezier(0.4, 0, 0.6, 1) once;
}
.microlink_card {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
    border: none !important;
    padding: 10px !important;
    border-left: 5px solid #fff !important;

}
.microlink_card__content_title{
    font-family: inherit !important;
    font-family: 600 !important;
    font-size: 14px !important;
}
.microlink_card__content_description{
    font-family: inherit !important;
    font-family: 600 !important;
    font-size: 12px !important;
    line-height: 1.8 !important;
    text-align: justify !important;
}
.microlink_card__media_image{
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}
.chat-bubble{
    border-radius: 13px !important;
    -webkit-border-radius: 13px !important;
    -moz-border-radius: 13px !important;
    -ms-border-radius: 13px !important;
    -o-border-radius: 13px !important;
}
.chat-start .chat-bubble{
    border-bottom-left-radius: 0 !important;
}
.chat-end .chat-bubble{
    border-bottom-right-radius: 0 !important;
}
.skeleton-loader {
    width: 100%;
  height: 100%;
 
  position: relative;
  overflow: hidden;
}

.shimmer-effect {
  width: 100%;
  height: 100%;

  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-[9px];
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-transparent  border-4 dark:border-white border-gray-700 ;
    }
    ::-webkit-scrollbar-trak {
        @apply bg-transparent;
    }
    .scroll-hover::-webkit-scrollbar-thumb {
        @apply transition-all duration-300;
    }
    .scroll-hover:hover::-webkit-scrollbar-thumb {
        @apply bg-gray-600/50;
    }
    body {
        @apply dark:bg-gray-950 scroll-smooth select-none   bg-gradient-to-tr from-violet-500 to-pink-400 dark:bg-gradient-to-t dark:from-[unset] dark:to-[unset] h-[90dvh] overflow-hidden ;
    }
    .auth-wrapper {
        @apply bg-base-100 ;
    }

    .message-item,
    .user-profile {
        @apply flex  p-2.5 w-full gap-5 transition-all duration-300 dark:hover:bg-gray-700/20 rounded-lg cursor-pointer hover:bg-gray-300/40;
    }
    .message-item--active{
        @apply bg-gray-700/20  
    }
    .st0,.st1,.st2,.st3,.st4,.st5,.st6,.st7,.st8,.svg{
      @apply dark:stroke-[#fff_!important]
    }
    .chat__input {
        @apply appearance-none px-3 py-2 placeholder:text-xs w-full dark:text-gray-50 bg-transparent focus-visible:outline-0 break-all transition-all duration-300 text-gray-800 focus-visible:outline-none;
    }
    .chat__input>br{
        @apply hidden
    }
    .message {
        @apply rounded-2xl whitespace-pre-wrap break-words  text-white text-sm max-w-full  leading-relaxed w-auto min-w-[80px];
    }
    .message--user {
        @apply bg-primary self-end rounded-tr-none;
    }
    .message--client {
        @apply bg-gray-800 self-start rounded-tl-none dark:bg-slate-100/30 backdrop-blur-xl;
    }
    .profile-img {
        @apply rounded-xl overflow-hidden bg-indigo-500;
    }
    .side-menu {
        @apply flex flex-col items-center justify-between overflow-y-auto overflow-x-hidden h-screen;
    }
    .side-menu--list {
        @apply flex flex-col gap-6;
    }
    .side-menu--border {
        @apply w-9/12 mx-auto my-6 h-[1px] dark:bg-gray-700 bg-gray-300;
    }

    .switch {
        @apply inline-flex flex-col  p-[5px] h-[90px] rounded-2xl justify-between items-center transition-all duration-300;
    }
    .switch__item {
        @apply rounded-xl  p-2.5;
    }
    .select-box {
        @apply rounded-xl dark:bg-[rgba(33,33,33,.75)] dark:shadow-gray-800/30 shadow-lg backdrop-blur-[40px] absolute bottom-16 right-20 w-[190px] py-1.5 px-1.5 scale-0 opacity-0  transition-all duration-300 bg-base-200/70 shadow-gray-400/20;
    }

    .select-box--item {
        @apply flex items-center gap-5 dark:text-white py-1.5 px-3 transition-all duration-300 hover:bg-[rgba(170,170,170,0.08)] rounded-lg cursor-pointer text-gray-600;
    }
    .modal-preview {
        @apply justify-items-start [overflow-y:hidden] px-0 max-h-[600px] -translate-x-1/2 left-1/2 pt-0 mt-0;
    }
    .modal-body {
        @apply w-full overflow-y-auto  px-4 py-3    rounded-xl scroll-hover;
    }
    .file-item {
        @apply flex gap-3 transition-all duration-300 hover:bg-gray-300/40 dark:hover:bg-gray-700/30 select-none cursor-pointer py-2 rounded-lg overflow-hidden pr-5;
    }
    .file-item-1 {
        @apply flex gap-3 transition-all duration-300 select-none cursor-pointer py-2 rounded-lg overflow-hidden pr-5;
    }
    .file-icon {
        @apply flex items-center justify-center px-3 rounded-xl relative before:absolute before:w-6 before:h-6 before:inline-block dark:before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,#1D232A_50%)] before:-top-0.5 before:-right-0.5 before:rounded-sm w-[68px]  h-[81px] before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,#eee_50%)];
    }
  
    .file-icon--2 {
        @apply before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,#641AE6_50%)] dark:before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,#641AE6_50%)] w-[65px]  h-[70px];
    }
    .file-icon--3 {
        @apply before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,rgb(249_250_251)_50%)] dark:before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,rgb(55_65_81)_50%)] w-[65px]  h-[70px];
    }
    .file-icon--4 {
        @apply before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,#2A323C_50%)] dark:before:bg-[linear-gradient(45deg,rgba(0,0,0,0.3)_50%,#1D232A_50%)] w-[65px]  h-[70px];
    }
    .grid-1 {
        @apply flex  items-center w-full gap-y-3 flex-wrap-reverse justify-between gap-x-2.5;
    }
    .grid-2 {
        @apply grid grid-cols-1 w-full;
    }
    .progress {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-base-100/40 border-[6px] border-transparent cursor-pointer;
    }
    div[contenteditable='true']:empty:before {
        @apply [content:attr(placeholder)] absolute left-10 text-gray-600 dark:text-gray-400 transition-all duration-200 translate-x-0 opacity-100 text-sm capitalize scale-100  top-1/2 -translate-y-1/2;
    }
    div[contenteditable='true']:before {
        @apply [content:attr(placeholder)] absolute left-10 text-gray-600 dark:text-gray-400 transition-all duration-200 translate-x-[40px] opacity-0 text-sm capitalize scale-50  top-1/2 -translate-y-1/2;
    }
    .recorder-box .audio-recorder {
        @apply [display:none!important];
    }
    .check-message {
        @apply py-3 px-2 bg-base-200 md:rounded-xl recorder-box   w-10/12 mx-auto mb-20  md:mb-24 flex gap-3.5 h-[60px] max-w-lg items-center relative ;
    }
    .check-message--btn {
        @apply flex items-center gap-3 transition-all duration-300 px-4 py-2 rounded-xl w-auto;
    }
    .form-box {
        @apply dark:bg-base-200 flex items-center justify-between py-1.5 rounded-xl w-full px-3  backdrop-blur-xl bg-base-300/80;
    }
    .unpin-btn {
        @apply capitalize font-semibold dark:text-white py-4 px-8 rounded-xl bg-base-100 -mt-20 md:-mt-32 mb-20 md:mb-28 w-11/12 md:w-fit mx-auto  z-[1] hover:bg-base-200 transition-all duration-200 active:scale-90 cursor-pointer text-gray-700 text-center;
    }

    [data-text-color='violet'] {
      @apply bg-gradient-to-r from-gray-600 to-indigo-600  text-transparent bg-clip-text
    }
    [data-text-color='green'] {
      @apply  bg-gradient-to-br from-green-500 via-green-600 to-green-800 text-transparent bg-clip-text
    }
    [data-text-color='indigo'] {
      @apply  bg-gradient-to-br from-indigo-300 to-indigo-200 text-transparent bg-clip-text font-bold 
    }
    [data-text-color='yellow'] {
      @apply  bg-gradient-to-r from-amber-500 to-amber-300 text-transparent bg-clip-text font-bold
    }
    [data-text-color='red'] {
      @apply  bg-gradient-to-r from-red-600 to-red-500 text-transparent bg-clip-text font-bold
    }
    [data-text-color='orange'] {
      @apply bg-gradient-to-b from-orange-500 to-yellow-300 text-transparent bg-clip-text font-bold
    }
    [data-text-color='purple'] {
      @apply bg-gradient-to-tr from-purple-400 to-indigo-400 text-transparent bg-clip-text font-bold
    }
    [data-text-color='rose'] {
      @apply  bg-gradient-to-br from-rose-400 via-rose-400 to-rose-600 text-transparent bg-clip-text font-bold
    }

    [data-color='violet'] {
      @apply bg-gradient-to-r from-violet-600 to-violet-400 text-violet-400
    }
    [data-color='blue'] {
      @apply bg-gradient-to-r from-blue-600 to-sky-600 text-blue-400
    }
    [data-color='green'] {
      @apply  bg-gradient-to-br from-green-500 via-green-600 to-green-800 text-green-400
    }
    [data-color='indigo'] {
      @apply  bg-gradient-to-r from-indigo-700 to-indigo-500 text-indigo-400
    }
    [data-color='emerald'] {
      @apply  bg-gradient-to-r from-emerald-500 to-emerald-600 text-emerald-400
    }
    [data-color='lime'] {
      @apply  bg-gradient-to-r from-lime-500 to-lime-400 text-lime-400
    }
    [data-color='cyan'] {
      @apply  bg-gradient-to-r from-cyan-500 to-cyan-400 text-cyan-400
    }
    [data-color='amber'] {
      @apply  bg-gradient-to-r from-amber-500 to-amber-300 text-amber-400
    }
    [data-color='yellow'] {
      @apply  bg-gradient-to-r from-yellow-500 to-yellow-600 text-yellow-400
    }
    [data-color='red'] {
      @apply  bg-gradient-to-r from-red-600 to-red-500 text-red-400
    }
    [data-color='orange'] {
      @apply bg-gradient-to-b from-orange-500 to-yellow-300 text-orange-400
    }
    [data-color='purple'] {
      @apply bg-gradient-to-tr from-purple-900 to-indigo-500 text-purple-400
    }
    [data-color='rose'] {
      @apply  bg-gradient-to-br from-rose-400 via-rose-400 to-rose-600 text-rose-400
    }
    /* Replay Them Color */

    [data-rp-color='blue']{
        @apply dark:bg-[#21384a] bg-[#e4f1f9]
    }
    [data-name-color='blue']{
        @apply dark:text-[#66bdf3] text-[#168ad5]
    }
    [data-rp-border-color='blue']{
        @apply dark:bg-[#5dadde] bg-[#2e96d2]
    }

    [data-rp-color='green']{
        @apply dark:bg-[#263b3e] bg-[#eaf5e6]
    }
    [data-name-color='green']{
        @apply dark:text-[#48ad85] text-[#4fad51]
    }
    [data-rp-border-color='green']{
        @apply dark:bg-[#78cb7b] bg-[#61b542]
    }
    [data-rp-color='orange']{
        @apply dark:bg-[#333438] bg-[#f9ede4]
    }
    [data-name-color='orange']{
        @apply dark:text-[#faa353] text-[#ce6767]
    }
    [data-rp-border-color='orange']{
        @apply dark:bg-[#e39553] bg-[#d37632]
    }
    [data-rp-color='red']{
        @apply dark:bg-[#332d39] bg-[#f8e8e7]
    }
    [data-name-color='red']{
        @apply dark:text-[#fb6161] text-[#c03d56]
    }
    [data-rp-border-color='red']{
        @apply dark:bg-[#e35c63] bg-[#c65148] 
    }
    [data-rp-color='purple']{
        @apply dark:bg-[#2b3149] bg-[#f1e9fa] 
    }
    [data-name-color='purple']{
        @apply dark:text-[#b48bd9] text-[#8544dc]
    }
    [data-rp-border-color='purple']{
        @apply dark:bg-[#b48bd9]  bg-[#9157da] 
    }
    /* [data-rp-color='teal']{
        @apply dark:bg-[#203a47]/70  bg-[#e6f3f5]
    }
    [data-name-color='teal']{
        @apply dark:text-[#62d4cc] text-[#2996ba]
    }
    [data-rp-border-color='teal']{
        @apply dark:bg-[#5bc2d1] bg-[#3fa1b5]
    } */
    [data-rp-color='rose']{
        @apply dark:bg-[#332c3e] bg-[#f9e9ef]
    }
    [data-name-color='rose']{
        @apply dark:text-[#ff5685] text-[#cd4089]
    }
    [data-rp-border-color='rose']{
        @apply dark:bg-[#e65189] bg-[#d25381] 
    }
    
    /* [data-bg-color='violet'] {
        @apply bg-violet-400/10 text-white transition-all duration-300 hover:bg-violet-400/[0.15] cursor-pointer py-[2px] border-l-4 border-l-violet-700;
    }
    [data-bg-color='green'] {
        @apply bg-green-400/50;
    }
    [data-bg-color='indigo'] {
        @apply bg-indigo-400/50;
    }
    [data-bg-color='yellow'] {
        @apply bg-amber-400/50;
    }
    [data-bg-color='red'] {
        @apply bg-red-400/50;
    }
    [data-bg-color='orange'] {
        @apply bg-orange-400/50;
    }
    [data-bg-color='purple'] {
        @apply bg-purple-400/50;
    }
    [data-bg-color='rose'] {
        @apply bg-rose-400/50;
    }
    [data-bg-color='blue'] {
        @apply bg-blue-400/50;
    } */
    .info-box{
        @apply px-[14px] transition-all duration-200 bg-base-200 dark:hover:bg-gray-700/30 py-3.5 rounded-xl cursor-pointer hover:bg-gray-400/20
    }
    .Toastify__close-button{
        dispaly:none!important;
    }
    .zoom-box{
        @apply absolute bottom-4 bg-base-200/70 left-1/2 z-10 flex items-center gap-5 backdrop-blur-xl px-6 py-3 h-16 rounded-xl w-[320px] mx-auto -translate-x-1/2 justify-between
    }
    .input-profile{
        @apply bg-transparent py-[13px] px-[15px] text-base  w-full rounded-[10px] border focus:outline-0 dark:border-gray-700 focus:border-[#8774E1] transition-all duration-200 hover:border-[#8774E1] border-gray-300
    }
    .lbl-focus{
        @apply absolute top-0 mt-[15px] h-[24px] left-4 text-[#9e9e9e] peer-focus:text-[#8774E1] transition-all duration-200 peer-focus:px-[5px] peer-focus:[transform:translate(-.1875rem,calc(57px/-2+.0625rem))_scale(.75)] peer-focus:bg-base-100 select-none cursor-text
        peer-hover:text-[#8774E1]    peer-hover:bg-base-100 
    }
    .lbl-shown{
        @apply text-[#9e9e9e] transition-all duration-200 px-[5px] [transform:translate(-.1875rem,calc(57px/-2+.0625rem))_scale(.75)] bg-base-100 select-none cursor-text
    }
    .typing-loader{
        @apply dark:fill-indigo-300 fill-indigo-600
    }
  
    
}
